
  <h1 style="text-align: center;">Order Status</h1>
  <div style="display: flex;flex-direction: row;">
    <div class="flex-container SideBar">
      <div>
        <button type="button" class="collapsible">Order Received</button>
        <div class="content">
          <ng-container *ngFor="let item of ordersArray">

            <div *ngIf="item.orderstatus === orderStatusType.OrderReceived" style="display: flex;justify-content: space-between; margin-top: 5px;
            margin-left: 5px; border-bottom: 2px dashed black;">
              <label>Name: <span>
                  {{ item.customername }}
                </span></label>

              <div class="info" (click)="LoadOrderDetails(item)">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div>
        <button type="button" class="collapsible">Preparing</button>
        <div class="content">
          <ng-container *ngFor="let item of ordersArray">
            <div *ngIf="item.orderstatus === orderStatusType.Preparing"
              style="display: flex;justify-content: space-between;margin-top: 5px;
              margin-left: 5px; border-bottom: 2px dashed black;">
              <label>Name: <span>
                  {{ item.customername }}
                </span></label>
              <div class="info" (click)="LoadOrderDetails(item)">

              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div>
        <button type="button" class="collapsible">Ready to Serve</button>
        <div class="content">
          <ng-container *ngFor="let item of ordersArray">
            <div *ngIf="item.orderstatus === orderStatusType.ReadyToServe"
              style="display: flex;justify-content: space-between;margin-top: 5px;
              margin-left: 5px; border-bottom: 2px dashed black;">
              <label>Name: <span>
                  {{ item.customername }}
                </span></label>
              <div class="info" (click)="LoadOrderDetails(item)">

              </div>
            </div>
          </ng-container>
        </div>
      </div>



    </div>


    <div class="OrderCard">
      <div class="container"
        style="background-color: black;color: white;border-radius: 15px 15px 0 0;height: 6%;padding-top: 1%;width: 100%;">
        <div class="container-box" *ngIf="selectedorder">
          <label><b>Order Id:</b></label>
          <span>{{ orderdetail.orderid}}</span>
        </div>

        <div class="container-box" *ngIf="selectedorder">
          <span><b>{{ orderdetail.customername}}</b></span>
        </div>
      </div>

      <div *ngIf="!selectedorder">
        <img src="../assets/nothingtoshow.jfif" alt="nothing to show" style="padding-top: 45px;">
      </div>

      <div *ngIf="selectedorder">
        <h2 style="text-align: center;"> {{orderdetail.orderstatus}} </h2>
      </div>

      <div class="OrderDetails" *ngIf="selectedorder">
        <h2 style="text-align: center;">Order Summary</h2>
        <div class="ItemSegment" *ngFor="let x of orderdetail.items">
          <div class="ItemSegment-1">
            {{x.itemCount}} * {{x.ingredientName}}
          </div>
          <div class="ItemSegment-1">
            ₹ {{ x.itemCount * x.amount}}
          </div>
        </div>
      </div>

      <div class="Total" *ngIf="selectedorder">
        <h3>Order Total: <span>{{ orderdetail.totalorderamount}}</span></h3>
        <button (click)="ChangeStatus(orderdetail)" [disabled]="isDisabled"
          style="border-radius: 10px 10px 10px 10px; min-height:20%; min-width: 15%;background-color: black;color:white">Change
          Order Status</button>
      </div>
    </div>
  </div>
